@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 5em;
    background: var(--bg-color);
    color: var(--font-color);
    user-select: none;
    transition: 2s;
    user-select: none;
    font-family: 'Roboto', sans-serif;


}

:root {
    --label-icon: url("https://img.icons8.com/sf-regular/452/moon-symbol.png");
    --linkedin-img: url("https://img.icons8.com/color/344/linkedin-circled--v1.png");
    --github-img: url("https://img.icons8.com/ios-glyphs/344/github.png");
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    background-image: linear-gradient(to bottom, #1d1e80, #36279c, #4f2fb7, #6a36d3, #863def);
    box-shadow: -1em 1em 1em #863def;
}

.navigation{
    width: 90%;
    margin: 0;
}

main {
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5em 2.5em;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.9s;
}

nav ul li a:hover {
    letter-spacing: 0.07em;
    text-shadow: 2px 5px 5px #000;
    float: 0;
}

a {
    text-decoration: none;
    color: var(--a-color);
    transition: 2s;
}

a:hover {
    color: #49FFF5;
}

.dark-mode {
    --bg-color: black;
    --font-color: #fff;
    --a-color: rgb(255, 251, 251);
    --label-icon: url("https://img.icons8.com/ios/452/sun--v1.png");
    --linkedin-img: url("https://img.icons8.com/nolan/452/linkedin-circled.png");
    --github-img: url("https://img.icons8.com/nolan/452/github.png");
}

.change-theme {
    background-image: var(--label-icon);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1em;
    cursor: pointer;
}

#btn {
    display: none;
}

/* .informations {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.hello-world {
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

.hello {
    padding: 0.5em;
    width: 50%;
    animation: backInUp;
    animation-duration: 1.5s;
    text-shadow: 1px 1px 1px #863def;
    background-color: var(--bg-color);
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top: 1px solid #150485;
    border-bottom: 1px solid #150485;
}

.photo {
    width: 10em;
    border-radius: 50%;
    margin-top: 2em;
}

.social-network {
    margin-top: 1em;
    display: flex;
    /* background-color: #2abb42; */
    justify-content: center;
}

.linkedin {
    background-image: var(--linkedin-img);
    background-size: cover;
    width: 6em;
    height: 6em;
    text-align: center;
}

.github {
    background-image: var(--github-img);
    background-size: cover;
    width: 6em;
    height: 6em;
    text-align: center;
}

.social-color {
    background: #000;
    border-radius: 2em;
    padding: 0.3em;
    color: #fff;
    border: 0.1em solid #150485;
    transition: 0.8s;
}

.social-color:hover {
    letter-spacing: 0.1em;
}

/* .social-color:hover {
    background-color: var(--bg-color);
} */

.about {
    padding: 0.1em;
    padding-bottom: 0.5em;
    text-align: center;
    margin-top: 1em;
    align-items: center;
    width: 30%;
    margin: 20% 5%;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 1px solid #150485;
}

.about h2 {
    padding: 0.2em;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top: 1px solid #150485;
    border-bottom: 1px solid #150485;
    margin-bottom: 0.5em;
}


.experience{
    width: 40%;
    margin: 20% 50%;
}

.experience h2{
    padding: 0.2em;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top: 1px solid #150485;
    border-bottom: 1px solid #150485;
    margin-bottom: 0.5em;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio-projects{
}

footer {
    margin-top: 2em;
    font-size: 1em;
    text-align: center;
    padding: 1em;
    width: 100%;
    background-image: linear-gradient(to top, #1d1e80, #36279c, #4f2fb7, #6a36d3, #863def);
    box-shadow: -0.5em -1em .5em #863def;
}