* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.dark-mode {
    --bg-color: #000;
    --font-color: #fff;
}

.section-experiences{
    display: flex;
    margin: 0 auto;
    margin: 0 auto 20rem auto;
}

 h1{
    margin: 0 auto;
    width: 30%;
    padding: 0.2em;
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top: 1px solid #150485;
    border-bottom: 1px solid #150485;
    margin-bottom: 0.5em;
}

.experience-card {
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: center;
    background-color: #A9B0D4;
    opacity: .9;
    width: 20rem;
    color: var(--font-color);
    align-items: center;
    padding: 1rem;
    text-align: justify;
    box-shadow: 10px 10px 10px #5649ac;
    position: relative;
    z-index: 1;
    margin: 2rem auto;
}

.experience-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #36279c;
    border-right: 20px solid #36279c;
}

.icon {
    margin-bottom: .5rem;
}

.icon img {
    width: 10rem;
    height: 8rem;
}

.content {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: linear-gradient(transparent, #A9B0D4);
}

.content h2 {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    position: relative;
    font-weight: bold;
}

.content h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 1em;
    background-color: #36279c;
    bottom: 0px;
    border-radius: 1em;
}

#read-button {
    border: none;
    padding: .2rem 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    background-color: #36279c;
    color: var(--font-color);
    cursor: pointer;
    font-weight: bold;
    transition: .8s;
}

#read-button:hover {
    background-color: #A9B0D4;
    color: #36279c;
    font-size: 1rem;
}

.experience-card.active .content{
    height: auto;
}

.experience-card.active .content::before{
    visibility: hidden;
}